GOOGLE_CREDENTIALS_PATH=credenciais.json
GOOGLE_SHEETS_NAME=Controle de Gastos
GOOGLE_DRIVE_FOLDER_ID=13CFfwPVGG5VfiG1ns3Zqb_dhKonl5lbp
GOOGLE_SHEETS_SPREADSHEET_ID=18SiI5PQF8Je1Bab8hkZorU_IDsrVhoY9qTgvRPdZvnI
GOOGLE_AUTH_MODE=auto
# ID da pasta do Google Drive com as faturas PDF
DRIVE_FOLDER_ID=
# ID da planilha Google Sheets
SHEETS_SPREADSHEET_ID=